ADMIN_PASSWORD_HASH=PLACEHOLDER_CREATE_THIS_SERVER_SIDE
SESSION_SECRET=PLACEHOLDER_LONG_RANDOM_SECRET
SITE_URL=https://PLACEHOLDER_DOMAIN.com
ALLOWED_ORIGIN=https://PLACEHOLDER_DOMAIN.com
VITE_SITE_URL=https://PLACEHOLDER_DOMAIN.com
VITE_MEMBERSHIP_WORKER_URL=/api/membership
# Local-only development can use Cloudflare's always-pass test site key:
# VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
VITE_TURNSTILE_SITE_KEY=PLACEHOLDER_CLOUDFLARE_TURNSTILE_SITE_KEY
TURNSTILE_SECRET_KEY=PLACEHOLDER_CLOUDFLARE_TURNSTILE_SECRET_KEY
BREVO_API_KEY=PLACEHOLDER_BREVO_API_KEY
BREVO_LIST_ID=PLACEHOLDER_BREVO_LIST_ID
BREVO_SENDER_EMAIL=PLACEHOLDER_VERIFIED_SENDER_EMAIL
BREVO_SENDER_NAME=RenShinKan Dojo
VITE_BREVO_SIGNUP_FORM_URL=PLACEHOLDER_BREVO_SIGNUP_FORM_URL
GOOGLE_FORM_URL=PLACEHOLDER_GOOGLE_FORM_FORM_RESPONSE_URL
PARENT_NAME_ENTRY_ID=PLACEHOLDER_PARENT_NAME_ENTRY_ID
STUDENT_NAME_ENTRY_ID=PLACEHOLDER_STUDENT_NAME_ENTRY_ID
EMAIL_ENTRY_ID=PLACEHOLDER_EMAIL_ENTRY_ID
PHONE_ENTRY_ID=PLACEHOLDER_PHONE_ENTRY_ID
HOME_ADDRESS_ENTRY_ID=PLACEHOLDER_HOME_ADDRESS_ENTRY_ID
PAYMENT_METHOD_ENTRY_ID=PLACEHOLDER_PAYMENT_METHOD_ENTRY_ID
NOTES_ENTRY_ID=PLACEHOLDER_NOTES_ENTRY_ID
AGREEMENT_ENTRY_ID=PLACEHOLDER_AGREEMENT_ENTRY_ID
