ADMIN_PASSWORD_HASH=PLACEHOLDER_CREATE_THIS_SERVER_SIDE
SESSION_SECRET=PLACEHOLDER_LONG_RANDOM_SECRET
GITHUB_TOKEN=PLACEHOLDER_FINE_GRAINED_GITHUB_TOKEN
GITHUB_OWNER=PLACEHOLDER_GITHUB_OWNER
GITHUB_REPO=PLACEHOLDER_REPO_NAME
GITHUB_BRANCH=main
SITE_URL=https://PLACEHOLDER_DOMAIN.com
BREVO_API_KEY=PLACEHOLDER_BREVO_API_KEY
BREVO_LIST_ID=PLACEHOLDER_BREVO_LIST_ID
BREVO_SENDER_EMAIL=PLACEHOLDER_VERIFIED_SENDER_EMAIL
BREVO_SENDER_NAME=RenshinKan Dojo
VITE_BREVO_SIGNUP_FORM_URL=PLACEHOLDER_BREVO_SIGNUP_FORM_URL
